@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: yellow;
}

.wrapper {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  top: -10px;
  left: 50%;
  z-index: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin: 0px 0px 0px -40px;
}

.button::before {
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}

.button::after {
  -webkit-animation: rotate 25s infinite linear;
          animation: rotate 25s infinite linear;
}

.button__text {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 50px;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 50px;
  letter-spacing: 10px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  top: 0;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.3);
}

.button__text:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #eee;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.button__text:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #eee;
  right: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.button__text span {
  position: relative;
  z-index: 2;
}

.button:hover::before,
.button:hover::after {
  left: 100%;
  opacity: 0;
}

.button:hover .button__text:before {
  width: 100%;
}

.button:hover .button__text:before,
.button:hover .button__text::after {
  background-color: #18b5a4;
}

.button:hover .button__text {
  top: -10px;
  color: #eee;
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
  -webkit-box-shadow: 0 5px 0px 0 #0c5b52;
          box-shadow: 0 5px 0px 0 #0c5b52;
}

.button:active .button__text {
  top: -7px;
  -webkit-box-shadow: 0 2px 0px 0 #0c5b52;
          box-shadow: 0 2px 0px 0 #0c5b52;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}